---

---
<div class="flex flex-col md:flex-row justify-between gap-3 my-16">
<section class="w-[25rem]">
    <ul>
        <li class="dark:text-light">Tenho experiência trabalhando com SQUADs multidisciplinares, usando metodologias <strong>SCRUM</strong> em ferramentas como <strong>Jira</strong> e <strong>Runrunit.</strong></li>            
        <li class="dark:text-light">Uso tanto <strong>Figma</strong> quanto <strong>XD</strong> para executar o projeto.</li>
        <li class="dark:text-light">Também uso boas práticas de SEO com ferramentas como Yoast e Rank Math, responsividade e otimização de imagens.</li>
        <li class="dark:text-light">Meus idiomas: <strong>Português</strong> (nativo), <strong>English</strong> (B2), <strong>Français</strong> (A1)</li>
    </ul>
</section>
<section class="grid grid-flow-row-dense grid-cols-4 grid-rows-3 gap-3">
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="reactjs" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="javascript" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="nodejs" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="bootstrap" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg" alt="tailwind" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="sass" width="48" ></div>
    <div><img src="	https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-plain.svg" alt="wordpress" width="48" ></div>
    <div class="elementor"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 512 512">
            <path d="M.361 256C.361 397 114 511 255 511C397 511 511 397 511 256C511 116 397 2.05 255 2.05C114 2.05 .361 116 .361 256zM192 150V363H149V150H192zM234 150H362V193H234V150zM362 235V278H234V235H362zM234 320H362V363H234V320z" width="48" class="drop-shadow-skills"></path></svg></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/woocommerce/woocommerce-plain.svg" alt="woocommerce" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="html5" width="48"></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="css3" width="48" ></div>
    <div><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="git" width="48" ></div>
</section>
</div>

